---
import Layout from '../layouts/Layout.astro';
import Button from '../components/button.astro';
---
<Layout title="About Me">
<Button url="https://www.google.de" title="Download my CV" external={true}>
</Button>

</Layout>