---
import Layout from "../layouts/Layout.astro";
import CVEntry from "../components/CVEntry.astro";
---

<Layout>
    <h1 class="text-4xl mb-6">My Education</h1>
<div class="px-2 sm:px-6 lg:px-12">
<ol class="relative border-s border-gray-300 dark:border-gray-700">                  

    <CVEntry
    name="Postgraduate International Programme Summer School",
    yearStart="2025",
    yearEnd="2025",
    location="University of Bremen",
    tags={["Space Science", "Remote Sensing", "Space Debris", "Design Challenge", "Concurrent Engineering"]}
    docs={[{title: "Certificate", url: "https://files.finnwelzmueller.online/pip_summer_school_certificate_finn_welzmueller.pdf", small:true, external:false}]}/>

    <CVEntry 
    name="Space Weather Training Course" 
    yearStart="2024" 
    yearEnd="2024" 
    grade="A" 
    location="ESA Academy"
    tags={["Space Weather Phyiscs", "Space Weather Impact on Technology", "Space Weather Modelling and Forecasting", "Space Weather Surveillance"]}
    docs={[{title: "Certificate", url: "https://files.finnwelzmueller.online/spaceweather_certificate_finn_welzmueller.pdf", small:true, external:false}, {title: "Transcript", url:"https://files.finnwelzmueller.online/spaceweather_transcript_finn_welzmueller.pdf", small:true, external:false}]}/>

    <CVEntry 
    name="CubeSat Hands-On Training Week" 
    yearStart="2024" 
    yearEnd="2024" 
    grade="A" 
    location="ESA Academy"
    tags={["System Engineering", "Flight Software", "On-Board Data Handling", "Power Systems", "AIV", "ADCS", "Spacecraft Communication", "Spacecraft Operation"]}
    docs={[{title: "Certificate", url: "https://files.finnwelzmueller.online/cubesat_certificate_finn_welzmueller.pdf", small:true, external:false}, {title: "Transcript", url:"https://files.finnwelzmueller.online/cubesat_transcript_finn_welzmueller.pdf", small:true, external:false}]}/>

    <CVEntry 
    name="Space Sciences and Technologies" 
    degree="Master of Science"
    yearStart="2023" 
    grade="1.1" 
    location="University of Bremen"
    tags={["Atmospheric Physics", "Climate Physics", "Communication Technologies for Space", "Space Electronics", "Control Theory", "Geodesy & Gravity", "GNSS", "Machine Learning for Swarm Exploration"]}
    docs={[{title: "Transcript", url: "https://files.finnwelzmueller.online/master_transcript_finn_welzmueller.pdf", small:true, external:false}]}/>

    <CVEntry 
    name="Physics" 
    degree="Master of Science"
    yearStart="2019" 
    yearEnd="2022" 
    grade="1.5" 
    location="University of Hamburg"
    tags={["Advanced Quantum Mechanics", "Astroparticle Physics", "Extragalactic Astrophysics", "Computational Astrophysics", "Scientific Writing", "Radio Astronomy"]}
    docs={[{title:"Thesis", url:"https://files.finnwelzmueller.online/master_thesis_finn_welzmueller.pdf", small:true, external:false}, {title:"Certificate", url:"/files/master_certificate_finn_welzmueller.pdf", small:true, external:false}]}/>
    
    <CVEntry 
    name="Physics" 
    degree="Bachelor of Science"
    yearStart="2015" 
    yearEnd="2019" 
    grade="2.1" 
    location="University of Hamburg" 
    tags={["Mathematics", "Classical Physics", "Astrophysics", "Quantum Mechanics", "Laboratory Work", "LaTeX", "Scientific Presentations"]}
    docs={[{title:"Thesis", url:"https://files.finnwelzmueller.online/bachelor_thesis_finn_welzmueller.pdf", small:true, external:false}, {title:"Certificate", url:"/files/bachelor_certificate_finn_welzmueller.pdf", small:true, external:false}]}/>
</ol>
</div>
</Layout>

