---
import Layout from "../layouts/Layout.astro";
import CVEntry from "../components/CVEntry.astro";
---

<Layout title="My Education">
<div class="px-2 sm:px-6 lg:px-12">
<ol class="relative border-s border-gray-300 dark:border-gray-700">                  

    <CVEntry 
    name="Space Weather Training Course" 
    yearStart="2024" 
    yearEnd="2024" 
    grade="A" 
    location="ESA Academy"
    tags={["Space Weather Phyiscs", "Space Weather Impact on Technology", "Space Weather Modelling and Forecasting", "Space Weather Surveillance"]}
    docs={[{title: "Certificate", url: "/public/files/spaceweather_certificate_finn_welzmueller.pdf", small:true, external:false}, {title: "Transcript", url:"/public/files/spaceweather_transcript_finn_welzmueller.pdf", small:true, external:false}]}/>

    <CVEntry 
    name="CubeSat Hands-On Training Week" 
    yearStart="2024" 
    yearEnd="2024" 
    grade="A" 
    location="ESA Academy"
    tags={["System Engineering", "Flight Software", "On-Board Data Handling", "Power Systems", "AIV", "ADCS", "Spacecraft Communication", "Spacecraft Operation"]}
    docs={[{title: "Certificate", url: "/public/files/cubesat_certificate_finn_welzmueller.pdf", small:true, external:false}, {title: "Transcript", url:"/public/files/cubesat_transcript_finn_welzmueller.pdf", small:true, external:false}]}/>

    <CVEntry 
    name="Space Sciences and Technologies" 
    degree="Master of Science"
    yearStart="2023" 
    grade="1.1" 
    location="University of Bremen"
    tags={["Atmospheric Physics", "Climate Physics", "Communication Technologies for Space", "Space Electronics", "Control Theory", "Geodesy & Gravity", "GNSS", "Machine Learning for Swarm Exploration"]}
    docs={[{title: "Transcript", url: "/public/files/master_transcript_finn_welzmueller.pdf", small:true, external:false}]}/>

    <CVEntry 
    name="Physics" 
    degree="Master of Science"
    yearStart="2019" 
    yearEnd="2022" 
    grade="1.5" 
    location="University of Hamburg"
    tags={["Advanced Quantum Mechanics", "Astroparticle Physics", "Extragalactic Astrophysics", "Computational Astrophysics", "Scientific Writing", "Radio Astronomy"]}
    docs={[{title:"Thesis", url:"/public/files/master_thesis_finn_welzmueller.pdf", small:true, external:false}, {title:"Certificate", url:"/public/files/master_certificate_finn_welzmueller.pdf", small:true, external:false}]}/>
    
    <CVEntry 
    name="Physics" 
    degree="Bachelor of Science"
    yearStart="2015" 
    yearEnd="2019" 
    grade="2.1" 
    location="University of Hamburg" 
    tags={["Mathematics", "Classical Physics", "Astrophysics", "Quantum Mechanics", "Laboratory Work", "LaTeX", "Scientific Presentations"]}
    docs={[{title:"Thesis", url:"/public/files/bachelor_thesis_finn_welzmueller.pdf", small:true, external:false}, {title:"Certificate", url:"/public/files/bachelor_certificate_finn_welzmueller.pdf", small:true, external:false}]}/>
</ol>
</div>
</Layout>

