---
import Layout from '../layouts/Layout.astro';
import CVEntry from "../components/CVEntry.astro";
---
<Layout>
    <h1 class="text-4xl mb-6">My Coding Projects</h1>
    <div class="px-2 sm:px-6 lg:px-12">
    <ol class="relative border-s border-gray-300 dark:border-gray-700"> 
    <CVEntry
        name="sshame"
        yearStart='2025'
        tags={["Python", "SSH", "Security", "Git", "Software Development", "Grafana", "Docker", "MySQL", "Web Development", "Backend programming", "Data Visualization"]}
        docs={[{title: "Project", url: "https://sshame.finnwelzmueller.online", small: true, external: true}, {title: "Code", url: "https://github.com/FinnWelzmueller/sshame", external: true, small: true}]}
        >
        This web application provides a dashboard to monitor and visualize SSH login attempts on a server. It collects data from the server's authentication logs, processes it, and displays it in an easy-to-understand format using Grafana.
        The project is built with Python, MySQL, Grafana and is deployed with Docker. 
    </CVEntry>

    <CVEntry
        name="ESA Acceleration Days: Space Weather Resilience Hackathon"
        yearStart='2025'
        tags={["Space Weather", "Hackathon", "Computer Vision", "Machine Learning"]}
        degree="Award-winning"
        >
        A hackathon organized by the European Space Agency to develop solutions for space weather resilience. My team and I developed the idea of a computer vision-based tool to extract
        three-dimensional trajectories from two-dimensional images of the Sun. The idea won the second place in the hackathon and was awarded with a prize.
    </CVEntry>

    <CVEntry
        name="astro-website"
        yearStart="2025"
        tags={["Astro", "Tailwind CSS", "Git", "Frontend programming", "Web Development", "Flowbite"]}
        docs={[{title: "Project", url: "/", small: true, external: true}, {title: "Code", url: "https://github.com/FinnWelzmueller/astro-website", external: true, small: true}]}>
        A personal website built with Astro and Tailwind CSS, showcasing my projects and skills and advertizing my social media channels. It features a clean design and responsive layout, making it accessible on 
        various devices. The website you are currently viewing is the result of this project. 
    </CVEntry>

    <CVEntry
        name="FLASHES2.0"
        yearStart="2025"
        tags={["Python", "Docker", "Machine Learning", "Scientific Computing", "Data Visualization", "Web Development", "Frontend programming", "Backend programming", "Databases", "X-ray astronomy", "Git"]}>
        The follow-up of the FLexible Alert System for High Energy Sources from the European Space Agency. FLASHES2.0 features dedicated databases for timeseries, an automated 
        cron job system for the data download, dedicated software for data visualization, automated deployment with docker-compose, machine-learning-based alerting and tagging
        and much more! Dropped are the user management. The source code is not publicly available but I am happy to share it with you upon request.
    </CVEntry>

    <CVEntry 
        name="diffSph - a Python library"
        yearStart="2022"
        yearEnd="2024"
        tags={["Python", "Scientific Computing", "Data Visualization", "Git", "Software Development", "Astrophysics"]}
        docs={[{title: "Code", url: "https://github.com/mertio1/diffsph", small: true, external: true}, {title: "Paper", url: "https://iopscience.iop.org/article/10.1088/1475-7516/2024/12/046", small: true, external: true}]}>
        A straight-forward and interactive way to calculate potential Dark-Matter signals and gain spectral information from diffuse radio signals. The library is based on Python
        and can be installed via GitHub. It is designed to perform complex calculations in an efficient manner. The library is publibly available and was released in a peer-reviewed
        journal article.
    </CVEntry>

    <CVEntry
        name="FLASHES"
        yearStart="2022"
        yearEnd="2022"
        tags={["Python", "Angular", "Databases", "Scientific Computing", "Data Visualization", "Web Development", "Frontend programming", "X-ray astronomy", "Git"]}>
        The FLexible Alert System for High Energy Sources (FLASHES) was a web application developed in the European Space Agency. The software downloaded data from three X-ray 
        All-Sky Monitors and visualized lightcurves and hardness ratios. Every X-ray source from the FLASHES catalogue was automatically analyzed and classified based on a 
        relevance. Relevant sources were advertised. For several predefined events, alerts were created and sent to the users via email. My tasks included the development of the 
        frontend and the alert system. The software was developed in Python and Angular and used a MongoDB database as data storage. The tool is still active on ESA servers.
        docs={[{title: "Tool", url:"https://integral.esac.esa.int/flashes/", small: true, external: true}]}
    </CVEntry>

    <CVEntry
        name="wimpsSoftware"
        yearStart="2021"
        yearEnd="2022"
        tags={["Python", "Scientific Computing", "Radio Astronomy"]}
        docs={[{title: "Code", url: "https://github.com/FinnWelzmueller/wimpsSoftware", small: true, external: true}]}>
        A set of Python scripts I developed for my Master's thesis in Physics at the Unviersity of Hamburg. The software builds a data pre-processing pipeline for the analysis
        radiodata from LOFAR and performs analyses for a set of processing parameters. 
    </CVEntry>
    </ol>
    </div>
</Layout>