---
import '../styles/global.css';
export interface Props {
    tag: string;
}

const { tag } = Astro.props;
---

<div class="bg-tagLight text-dark dark:bg-tagDark dark:text-gray-200 text-sm px-2 py-0.5 rounded border-[1px] border-dark" >
    <span>{tag}</span>

</div>