---

import RightNavbarLinks from "./rightNavbarLinks.astro";
import "../styles/global.css";
import LeftNavbarLinks from "./leftNavbarLinks.astro";

---
<div class="hidden lg:flex w-full items-center justify-between ">
  <div class="flex items-center gap-x-8 text-2xl">
    <LeftNavbarLinks />
  </div>
  <div class="flex items-center gap-x-5">
    <RightNavbarLinks />
  </div>
</div>




