---
import '../styles/global.css';
import RightNavbarLink from './rightNavbarLink.astro';
---


<RightNavbarLink icon="fa-brands:linkedin" url="https://www.linkedin.com/in/finnwelzmueller/" title="LinkedIn" ></RightNavbarLink>
<RightNavbarLink icon="fa-brands:instagram-square" url="https://www.instagram.com/finnwe97/" title="Instagram"></RightNavbarLink>
<RightNavbarLink icon="fa-solid:envelope" url="mailto:finnwelzmueller97@gmail.com" title="Mail" target="_self"></RightNavbarLink>
<RightNavbarLink icon="fa-brands:github" url="https://www.github.com/FinnWelzmueller" title="GitHub"></RightNavbarLink>
<RightNavbarLink icon="fa-brands:researchgate" url="https://www.researchgate.net/profile/Finn-Welzmueller" title="ResearchGate" iconcolor=""></RightNavbarLink>
<div class="colorSwitch hover:cursor-pointer bg-dark dark:bg-light rounded-full p-1 hover:-translate-y-1 ease-linear duration-200">
  <img src="/icons/moon.svg" alt="moon" class="w-6 h-6" />
</div>