---
import '../styles/global.css';
import LeftNavbarLinks from '../components/leftNavbarLinks.astro';
import RightNavbarLinks from '../components/rightNavbarLinks.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>finnwelzmueller.online</title>
	</head>
	<body class="font-mono bg-light dark:bg-dark text-dark dark:text-light">
		<main class="md:container md:mx-auto w-full min-h-screen">
			<header class="flex items-center justify-between px-4 py-8 font-medium">
				<nav class="flex items-center justify-center gap-x-8 text-2xl">
					<LeftNavbarLinks/>
				</nav>
				<nav class="flex items-center justify-center gap-x-5">
					<RightNavbarLinks/>
				</nav>
			</header>
			<article class="text-2xl px-4">
				<h1 class="text-6xl">{title}</h1>
				<slot />
			</article>
			<footer></footer>
		</main>
		<script src="../scripts/app.js"/>
	</body>
</html>

<style is:global></style>